@font-face {
    font-family: "iconfont";
    src: url('iconfont.woff') format('woff'),
    url('iconfont.ttf') format('truetype');
}

.iconfont {
    font-family: "iconfont", serif !important;
    font-size: 28px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-share:before {
    content: "\e600";
}

.icon-tracing-point:before {
    content: "\e633";
}

.icon-anchorpoint:before {
    content: "\e65e";
}

.icon-a-56px_line_Anti-fraud:before {
    content: "\e625";
}

.icon-text:before {
    content: "\e67d";
}

.icon-straight-line:before {
    content: "\ee43";
}

.icon-magnifier:before {
    content: "\e77d";
}

.icon-undo:before {
    content: "\e602";
}

.icon-redo:before {
    content: "\e604";
}

.icon-pen:before {
    content: "\e693";
}

.icon-pencil:before {
    content: "\e601";
}

.icon-lock-on:before {
    content: "\e681";
}

.icon-lock:before {
    content: "\ea0f";
}

.icon-unlock:before {
    content: "\ea1d";
}

.icon-selector:before {
    content: "\e70b";
}

.icon-md-checkbox-outline:before {
    content: "\e6db";
}

.icon-sliders-h:before {
    content: "\e618";
}

.icon-shanghai-time:before {
    content: "\e6bf";
}

.icon-keshihuapingtaiicon_shurukuang:before {
    content: "\e6f0";
}

.icon-danxuanzu:before {
    content: "\e64c";
}

.icon-switchButton:before {
    content: "\e634";
}

.icon-buy-button:before {
    content: "\e607";
}

.icon-biaoge-1:before {
    content: "\e65d";
}

.icon-justification-right:before {
    content: "\e608";
}

.icon-horizontal-centering:before {
    content: "\e609";
}

.icon-horizontal-centering-1:before {
    content: "\e60f";
}

.icon-justification-bottom:before {
    content: "\e60a";
}

.icon-vertical-centering:before {
    content: "\e60b";
}

.icon-justification-top:before {
    content: "\e60c";
}

.icon-justification-top-1:before {
    content: "\e610";
}

.icon-justification-left:before {
    content: "\e60d";
}

.icon-align-left-and-right:before {
    content: "\e60e";
}

.icon-level-isometric-alignment:before {
    content: "\e6e4";
}

.icon-vertical-isometric-alignment:before {
    content: "\e6e5";
}

.icon-format-brush:before {
    content: "\e6c0";
}

.icon-format-brush-1:before {
    content: "\e6c1";
}

.icon-alike:before {
    content: "\e757";
}

.icon-alike1:before {
    content: "\e629";
}